* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}



.row {
    display: flex;
    height: 50px;
    background-color: #daf1f6;
}

.p-row {
    margin: 0 auto;
    padding: 1rem;
    color: #6b7487;
    font-size: 14px;
    font-weight: 500;
}

.span {
    color: #8938fc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 2rem;
    
    border-bottom: 1px solid lightgray;
}

.list-icon {
    display: flex;
    list-style-type: none;
    border: none;
    margin: 0.5rem;
    font-size: 18px;
    cursor: pointer;
  
}

@media screen and (max-width: 1024px) {
    .list-icon .user-icon,
    .glass-icon,
    .input, 
    .glass-input,
    .menu-list .list-item {
        display: none;
    }
}
    
.btn {
    padding: 12px 20 px;
    border: none;
    border-radius: 35px;
}

.svg-title {
    border: none;
    background-color: white;
    cursor: pointer;
}

.input {
    padding: 12px 20px;
    border-radius: 35px;
    border: none;
    box-shadow: #6b7487 rgba(0, 0, 0, 0,9);
}

.menu-list {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    color: #494F66;
    list-style-type: none;
    cursor: pointer;
}

.list-item {
    display: flex;
    margin: 1rem;
   
}

.icon {
    display: flex;
    align-items: center;
    font-size: 9px;
    font-weight: 600;
    margin: 0.5rem;
}

.home {
    color: #8938fc;
    
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-image: url(../sfondohome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 58px;
    margin-top: 10rem;
    margin-left: 25rem;
    margin-bottom: 1rem;
}

.p-title {
    margin-left: 25rem;
    margin-bottom: 1rem;
}


.btn-shop {
    padding: 20px 50px;
    border-radius: 35px;
    border: none;
    background-color: #8938fc;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-left: 25rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  
}

.btn-shop:hover {
    background-color: black;
}

.btn-shop .btn-arrow {
    transform: rotate(-45deg);
    transition: all 0.2s;
}

.btn-shop:hover .btn-arrow {
    transform: rotate(0);
    
}

.row-list-icon {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
   
}

.row-list-item {
    display: flex;
    margin: 2rem;
}


@media screen and (max-width: 808px) {
.row-list-item {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 808px) {
    .row-media {
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 742px) {
    .row-box {
        display: flex;
        flex-direction: column;
    }
    
}

.row-icon {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    
}

.row-star {
   text-align: center;
   margin-top: 2rem;
   padding: 0.2rem;
}

.star {
    color: #00b67a;
    
}

.star-grey {
    color: #ccd6df;
    padding: 0.2rem;
}

.span-star {
    color: black;
    padding: 0.2rem;
}

.number {
    color: #494F66;
    padding: 0.2rem;
}

.row-box {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin: auto;
    margin-top: 2rem;
    height: 320px;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% / 3);
    height: 300px;
    border-radius: 30px;
    padding: 2rem;
    color: white;
    overflow: hidden;
}

.box-first::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-image: url(../h4_banner1.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 0.2s;

}

@media screen and (max-width: 742px) {
    .row-box .box {
        width: 100%;
    }
    
}


.box-first:hover::after {
    width: 120%;
}

.box-first .box-second .box-third h2 {
    font-size: 1.8rem;
    line-height: 1.9rem;
}

.btn-view {
    background-color: white;
    font-size: 15px;
    padding: 16px 40px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.btn-view:hover .btn-arrow {
    transform: rotate(0);
}

.btn-view .btn-arrow {
    transform: rotate(-45deg);
    transition: all 0.2s;
}

.box-second::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-image: url(../h4_banner2.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 0.2s;
}

.box-second:hover::after {
    width: 110%;
}



.box-third::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-image: url(../h4_banner3.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: all 0.2s;
}

.box-third:hover:after {
    width: 105%;
}

.row-discover {
    text-align: center;
    margin-top: 4rem;
    font-size: 48px;
    font-weight: 400;
}

.purple {
    color: #8938fc;
}

.row-list {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    color: #494F66;
    list-style-type: none;
    cursor: pointer;

}

.row-list-item-title {
    display: flex;
    margin: 1rem;
}

.btn-all {
    border: none;
    background-color: white;
    color: #8938fc;
    cursor: pointer;
}

.all {
    border-bottom:  2px solid #8938fc;
}

.btn-large,
.btn-business,
.btn-booklet {
    border: none;
    color: #494F66;
    background-color: white;
    cursor: pointer;
}

.btn-large:hover,
.btn-business:hover,
.btn-booklet:hover {
    color: #8938fc;
    border-bottom: 2px solid #8938fc;
}

.circle {
    background-color: gray;
    box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0.2rem;
}

.box-text {
    text-align: center;
    

}

.h3-box {
    color: #494F66;
    margin-bottom: 1rem;
    cursor: pointer;
}

.h3-box:hover {
    color: #8938fc;
}

.box-row {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.box-text:hover .btn-personalize {
    color: white;
    background-color: black;
    visibility: visible;
}

.btn-personalize {
    border-radius: 2rem;
    border: none;
    padding: 1rem;
    width: 100%;
    color: white;
    background-color: black;
    cursor: pointer;
    display: none;
}

.btn-personalize:hover,
.btn-personalize:active,
.btn-personalize:focus {
    background-color: #8938fc;
    
}

.box-container {
    position: relative;
    width: calc(100% / 4 );
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    transition: all 0.2s;
}

@media screen and (max-width: 992px) {
    .box-container {
        width: calc(100% / 3);
        display: none;
    }
}

.box-container:hover {
    background-color: white;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
}

.box-container:hover .btn-personalize,
.box-container:hover .box-actions {
    display: block;
}

.box-img img {
    width: 100%;
    border-radius: 1.5rem;
}

.box-text {
    margin-bottom: 1rem;
}

.box-text .box-title {
    margin: 1rem 0;
    font-size: 1rem;
}

.box-text .box-price {
    font-size: 1.5rem;
}

.box-actions {
    position: absolute;
    top: 3rem;
    right: 2rem;
    list-style: none;
    transition: all 0.2s;
    opacity: 0;
}

.box-container:hover .box-actions {
    top: 2rem;
    opacity: 1;
}

.box-actions-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 100%;
    transition: all 0.2s;
}

.box-actions-item:hover {
    background-color: #8938fc;
}

.box-actions-item:hover a,
.box-actions-item:hover a:hover,
.box-actions-item:hover a:active,
.box-actions-item:hover a:focus {
    color: white;
}

.content-deals {
    display: flex;
    background-color: #edeef1;
    align-items: center;
    width: 100%;
    height: 700px;
    margin-top: 10rem;
}

.img-deals {
    display: inline-block;
    width: 69px;
    height: 44px;
    margin-left: 3rem;
}

.col-deals {
    margin-left: 6rem;
}

.best-deals {
    margin-bottom: 2rem;
    font-size: 48px;
    font-weight: 500;
}

.circle-number {
    display: flex;
    
    flex-direction: column;
    background-color: white;
    box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0.5rem;
    margin-top: 1rem;
}

.best {
    color: #8938fc;
    margin-bottom: 3rem;
}

.best-hot {
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: 600;
    color: #8938fc;
}

.col-circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.circle-text {
   margin: 1rem;
   margin-top: 1rem;
}


.circle-text-span {
    margin: 0.7rem;
}

.btn-shop-now {
    padding: 20px 50px;
    border-radius: 35px;
    border: none;
    background-color: #8938fc;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

@media screen and (max-width: 767px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 767px) {
    .content-deals {
        display: flex;
        flex-direction: column;
    }
    
}

.row-best {
    text-align: center;
    margin-top: 12rem;
}

.row-best h2 {
    font-size: 48px;
    font-weight: 500;

}

.row-best p {
    color: #6b7487;
    font-size: 15px;
    font-weight: 500;
    margin-top: 2rem;
}

.discover {
    display: flex;
    width: 100%;
    margin-top: 12rem;
}



.img-angle {
    display: inline-block;
    height: 60px;
}

.discover h2 {
    font-size: 150px;
    font-weight: 600;
    color: #7000fe52;
}

.col-discover-title h2 {
    font-size: 150px;
    font-weight: 600;
    color: #2d61f25c;
}

.row-print {
    text-align: center;
    margin-top: 4rem;
    font-size: 25px;
    font-weight: 500;
    text-transform: none;
}

.row-print p {
    color: #6b7487;
    font-size: 15px;
    font-weight: 500;
}

.row-box-five {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 3rem;
}

.row-box-five .box-five {
    width: calc(100% / 5 - 3rem);
    text-align: center;
    cursor: pointer;
} 

@media screen and (max-width: 768px) {
    .row-box-five .box-five {
        width: calc(100% / 4 - 3rem)
    }

    .row-box-five .box-five:last-child {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .row-box-five .box-five {
        width: calc(100% / 2 - 3rem)
    }

    .row-box-five .box-five:nth-child(n+3) {
        display: none;
    }
}


.row-box-five .box-five .five-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.row-box-five .box-five .five-img img {
    height: 100%;
}

.row-box-five .box-five h2 {
    font-size: 1.3rem;
    display: inline;
}

.row-box-five .box-five h3 {
    font-size: 1rem;
    font-weight: normal;
}

.row-box-five .box-five .five-title {
    position: relative;
    display: inline;
}

.row-box-five .box-five .number {
    position: absolute;
    bottom: 90;
    left: 110%;
}

.row-box-five .box-five:hover h2 {
    color: #8938fc;

}


.row-two-box {
    display: flex;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

@media screen and (max-width: 768px) {
    .row-two-box .booklet-box-title {
        width: calc(100% / 2 - 3rem)
    }

    .row-two-box .booklet-box-title:last-child {
        display: none;
    }
}



.booklet-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: 380px;
    border-radius: 1rem;
    cursor: pointer;
    background-image: url(../h4_banner5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

.cardboard-box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    margin-top: rem;
    border-radius: 1rem;
    cursor: pointer;
    background-image: url(../h4_banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}

.booklet {
    margin-top: 5rem;
    margin-left: 25rem;
    color: white;
}

.booklet h2 {
    font-size: 36px;
    font-weight: 600;
}

.btn-25 {
    margin-left: 20rem;
    margin-top: 3rem;
    
}






